<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>home</title>
style 
     include ../css/home.css
</head>
<body>
    <nav>
        <img src="\static\3479435.png" id="menu">
        
        <h1>Goals</h1>
        <img src="\static\img_215059.webp" id="acc">
    </nav>
    <div class="maincont">
        <div class="menucont" id="menucont">
            <h3>Profile</h3>
            <h3>Theme</h3>
            <h3>ScoreBoard</h3>
        </div>
       
        
            <div class="accont" id="accnt">
                <h3>Sign out</h3>
                <h3>temp</h3>
                <h3>temp</h3>
        
        </div>
        
    </div>
    <div class="picture">
        <img src="\static\th.webp" alt="">
    </div>
    <div class="goalcont">
        <h1>#{heading}</h1>
        <div class="goals">
            <h2>#{obj.title}</h2>
            <h3>#{obj.time}</h3>
            <h4>#{obj.desc}</h4>
        </div>
    </div>
    <form action="/add" method="post" class="addcont">
        <h1>Add</h1>
        <input type="text" placeholder="Title of your goal" name="title" id="tl">
        <input type="datetime" name="time" id="time" placeholder="Provide the dead line">
        <textarea name="desc" id="desc" cols="30" rows="10" placeholder="Provide a description"></textarea>
        <button id="btn">Submit</button>
    </form>
    
   
</body>
//- <script src="home.js"></script>
script 
    include ../js/home.js   

</html>