<html lang="en">
<head>
    //- <link rel="stylesheet" href="../css/login.css"> 
    style 
        include ../css/login.css
    <title>goal-app-login</title>
</head>
<body>
    <div class="contain">
        
        <form action="" method="post" id="form">
            <h1>Login</h1>
            <h3>Email</h3>
            <input type="email" name="email" id="email">
            <h3>Password</h3>
            <input type="password" name="password" id="pass">
            <button type="submit" id="bttn">Submit</button>
            <div class='link'>
            <a href="http://localhost/">Sign up</a>
            </div>
        </form>
    </div>
</body>
script 
    include ../js/login.js  
</html>