<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    //- <link rel="stylesheet" href="../css/login.css"> 
    style 
        include ../css/login.css

    <title>goal-login</title>
</head>
<body>
    <div class="contain">
        
        <form action="" method="post" id="form">
            <h1>Sign up</h1>
            <h3>Name</h3>
            <input type="text" name="name" id="name">
            <h3>Email</h3>
            <input type="email" name="email" id="email">
            <h3>Password</h3>
            <input type="password" name="password" id="pass">
            <button type="submit" id="bttn">Submit</button>
        </form>
    </div>
</body>
script 
    include ../js/signup.js  
</html>